Repository nitro-system/nitro: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, npx cspell -c ./cspell.json, eslint --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.{css,less,sass,scss}": [
    "stylelint",
    "prettier --write",
    "npx cspell -c ./cspell.json"
  ],
  "*.{ts,js}": [
    "eslint --fix",
    "prettier --write",
    "npx cspell -c ./cspell.json"
  ],
  "package.json": ["npx sort-package-json"],
  "!(*.{ts,js,css,less,sass,scss}|package.json)": [
    "prettier --write --ignore-unknown",
    "npx cspell -c cspell.json"
  ]
}

docs(release): 1.4.7
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  3e407e2bf22b0ce63a530379d270d97d2e68c0e0
Due: none

fix(docker): 🚑️ fix build docker reverse proxy image
  docker-compose.yml
Due: none

docs(release): 1.4.8
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  7ab7921d565deab69aeabcd5b3b2fa67c35697e5
Due: none

fix(frontend): 💬 update paragraph text
  libs/frontend/home/src/lib/home/home.component.html
Due: none

docs(release): 1.4.9
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  71f1950a49f517865db3f6026114fe3401d564a7
Due: none

chore(nx): ⬆️ upgrade nx and its dependencies to version `14.5.1`
  package.json
Due: npx sort-package-json

chore(core): ⬆️ upgrade npm dependencies to latest version
  package-lock.json
  package.json
Due: npx sort-package-json

ci(semantic-release): 🩹 adding `package-lock.json` file to the commit generated by semantic-release
  .releaserc.json
  .vscode/settings.json
Due: none

test(core): ✅ upgrade cypress package to `10.3.1` and correct e2e testing
  apps/frontend-home-e2e/cypress.config.ts
  apps/frontend-home-e2e/cypress.json
  apps/frontend-home-e2e/project.json
  apps/frontend-home-e2e/src/e2e/home/home.component.cy.ts
  apps/frontend-home-e2e/src/support/e2e.ts
  apps/frontend-home-e2e/tsconfig.json
  apps/frontend-services-e2e/cypress.config.ts
  apps/frontend-services-e2e/cypress.json
  apps/frontend-services-e2e/project.json
  apps/frontend-services-e2e/src/e2e/services/services.component.cy.ts
  apps/frontend-services-e2e/src/support/e2e.ts
  apps/frontend-services-e2e/tsconfig.json
  apps/m-admin-e2e/cypress.config.ts
  apps/m-admin-e2e/cypress.json
  apps/m-admin-e2e/project.json
  apps/m-admin-e2e/src/e2e/app.cy.ts
  apps/m-admin-e2e/src/support/e2e.ts
  apps/m-admin-e2e/tsconfig.json
  apps/w-admin-e2e/cypress.config.ts
  apps/w-admin-e2e/cypress.json
  apps/w-admin-e2e/project.json
  apps/w-admin-e2e/src/e2e/app.cy.ts
  apps/w-admin-e2e/src/support/e2e.ts
  apps/w-admin-e2e/tsconfig.json
  cypress.json
  package-lock.json
  package.json
Due: prettier --write, npx cspell -c ./cspell.json, eslint --fix, npx sort-package-json

ci(nx): 👷 update ci for testing nx cloud
  .github/workflows/code-quality.yml
Due: none

ci(nx): 👷 update ci `code-quality` by hashing nx cloud
  .github/workflows/code-quality.yml
Due: none

chore(core): ➖ remove `cross-env` dependency
  package-lock.json
  package.json
Due: npx sort-package-json

ci(github): 👷 update ci `code-quality` workflow
  .github/workflows/code-quality.yml
  .releaserc.json
  package-lock.json
  package.json
Due: npx sort-package-json

ci(docker): 🔒️ add ssl to reverse proxy container
  digitalocean.ini
  docker-compose.yml
  generate-ssl.sh
  nginx.reverse-proxy.conf
Due: none

ci(docker): 🔒️ add ssl shell scripts
  .github/workflows/code-quality.yml
  .github/workflows/release.yml
  generate-ssl.sh
  package.json
  run.sh
  setup-certbot.sh
Due: npx sort-package-json

ci(github): 💚 improve ci test and lint steps
  .github/workflows/code-quality.yml
Due: none

fix(core): 🔒️ update all backend urls from http to https
  .vscode/settings.json
  apps/m-admin/src/app/app.module.ts
  apps/w-admin/src/app/app.module.ts
  libs/frontend/footer/src/lib/footer/footer.component.html
  libs/frontend/footer/src/lib/footer/footer.component.spec.ts
  libs/frontend/footer/src/lib/footer/footer.component.ts
  libs/frontend/sentry/src/lib/utils/sentry-init.utils.ts
  libs/shared/constants/src/lib/common-workspace-env/common-workspace-env.common.ts
  libs/shared/constants/src/lib/common-workspace-env/common-workspace-env.prod.ts
  libs/shared/constants/src/lib/common-workspace-env/common-workspace-env.staging.ts
  libs/shared/constants/src/lib/common-workspace-env/common-workspace-env.ts
  libs/shared/interceptors/src/lib/api-url/api-url.interceptor.service.ts
Due: prettier --write, npx cspell -c ./cspell.json, eslint --fix

ci(core): 👷 update ci build system
  .github/workflows/code-quality.yml
  .github/workflows/release.yml
  digitalocean.ini
  docker-compose.yml
  generate-ssl.sh
  package.json
  setup-certbot.sh
  ssl.sh
Due: npx sort-package-json

docs(release): 🔖 1.4.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  65e0c35e4be370726af6b4aa65b9c02e0fc06c11
Due: none

ci(ssl): 👷 improve ssl generator checker
  ssl.sh
Due: none

ci(ssl): 👷 update digitalocean personal api key
  digitalocean.ini
Due: none

ci(digitalocean): 🔧 update digitalocean personal api key
  digitalocean.ini
Due: none

chore(core): 🔧 update some config files
  .eslintrc.json
  .vscode/extensions.json
  nginx.reverse-proxy.conf
  package-lock.json
Due: none

chore(core): 🔧 update `stylelint`, `eslint` rules and `vscode` settings file
  .eslintrc.json
  .stylelintrc.json
  .vscode/settings.json
Due: none

feat(core): new changes updated
  .eslintrc.json
  .github/pull_request_template.md
  .prettierrc
  .stylelintrc.json
  Dockerfile
  nginx.reverse-proxy copy.conf
  package.json
Due: npx sort-package-json

refactor(prettier): use shared prettier configuration
  .github/workflows/code-quality.yml
  .prettierrc
  package-lock.json
  package.json
Due: npx sort-package-json

refactor(eslint): use shared eslint configuration
  .eslintrc.json
  apps/m-admin/.eslintrc.json
  apps/w-admin/.eslintrc.json
  package-lock.json
  package.json
Due: npx sort-package-json

chore(stylelint): add shared stylelint configuration library
  .eslintrc.json
  .stylelintrc.json
  package-lock.json
  package.json
Due: npx sort-package-json

chore(eslint): configure more shared eslint rules
  .eslintrc.js
  .eslintrc.json
  apps/b-api/.eslintrc.json
  apps/b-api/src/main.ts
  apps/frontend-home-e2e/.eslintrc.json
  apps/frontend-services-e2e/.eslintrc.json
  apps/m-admin-e2e/.eslintrc.json
  apps/m-admin/.eslintrc.json
  apps/w-admin-e2e/.eslintrc.json
  apps/w-admin/.eslintrc.json
  cspell.json
  libs/backend/sentry/.eslintrc.json
  libs/frontend/footer/.eslintrc.json
  libs/frontend/home/.eslintrc.json
  libs/frontend/sentry/.eslintrc.json
  libs/frontend/services/.eslintrc.json
  libs/frontend/services/src/lib/services/services.component.ts
  libs/shared/constants/.eslintrc.json
  libs/shared/dtos/.eslintrc.json
  libs/shared/enums/.eslintrc.json
  libs/shared/interceptors/.eslintrc.json
  libs/shared/interfaces/.eslintrc.json
  libs/shared/utils/.eslintrc.json
Due: prettier --write, npx cspell -c ./cspell.json, eslint --fix

fix: solve sonar import warning
  libs/shared/utils/src/lib/workspace-version.utils.ts
Due: prettier --write, npx cspell -c ./cspell.json, eslint --fix

fix(eslint): remove duplicated code
  .eslintrc.js
Due: prettier --write, npx cspell -c ./cspell.json, eslint --fix

fix(eslint): remove unused code
  .eslintrc.js
Due: prettier --write, npx cspell -c ./cspell.json, eslint --fix

chore: update prettier config package
  package-lock.json
  package.json
Due: npx sort-package-json

chore: update some config
  .editorconfig
  .mailmap
  cspell.json
Due: none
