Repository nitro-system/nitro: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, cspell -c cspell.json, eslint --fix

.lintstagedrc.json:

{
  "*.{css,less,sass,scss}": [
    "stylelint",
    "prettier --write",
    "cspell -c cspell.json"
  ],
  "*.{ts,js}": ["eslint --fix", "prettier --write", "cspell -c cspell.json"],
  "!(*.{ts,js,css,less,sass,scss})": [
    "prettier --write --ignore-unknown",
    "cspell -c cspell.json"
  ]
}

feat(b-api): :sparkles: add `home` and `services` module with crud methods
  apps/b-api/src/app/app.controller.spec.ts
  apps/b-api/src/app/app.controller.ts
  apps/b-api/src/app/app.module.ts
  apps/b-api/src/app/app.service.spec.ts
  apps/b-api/src/app/app.service.ts
  apps/b-api/src/app/modules/home/home.controller.spec.ts
  apps/b-api/src/app/modules/home/home.controller.ts
  apps/b-api/src/app/modules/home/home.module.ts
  apps/b-api/src/app/modules/home/home.service.spec.ts
  apps/b-api/src/app/modules/home/home.service.ts
  apps/b-api/src/app/modules/services/services.controller.spec.ts
  apps/b-api/src/app/modules/services/services.controller.ts
  apps/b-api/src/app/modules/services/services.module.ts
  apps/b-api/src/app/modules/services/services.service.spec.ts
  apps/b-api/src/app/modules/services/services.service.ts
  apps/b-api/src/environments/environment.prod.ts
  apps/b-api/src/environments/environment.ts
  apps/b-api/src/main.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

feat(m-admin): :sparkles: add `home` and `services` module with crud methods
  .vscode/settings.json
  apps/m-admin/src/app/app.component.html
  apps/m-admin/src/app/app.component.spec.ts
  apps/m-admin/src/app/app.module.ts
  apps/m-admin/src/app/app.routing.ts
  apps/m-admin/src/app/modules/home/home.module.ts
  apps/m-admin/src/app/modules/home/home.page.html
  apps/m-admin/src/app/modules/home/home.page.spec.ts
  apps/m-admin/src/app/modules/home/home.page.ts
  apps/m-admin/src/app/modules/home/home.service.ts
  apps/m-admin/src/app/modules/services/services.module.ts
  apps/m-admin/src/app/modules/services/services.page.html
  apps/m-admin/src/app/modules/services/services.page.ts
  apps/m-admin/src/app/modules/services/services.routing.ts
  apps/m-admin/src/app/modules/services/services.service.ts
  apps/m-admin/src/environments/environment.prod.ts
  apps/m-admin/src/environments/environment.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

feat(w-admin): :sparkles: add `home` and `services` module with crud methods
  apps/w-admin/src/app/app.component.html
  apps/w-admin/src/app/app.component.spec.ts
  apps/w-admin/src/app/app.component.ts
  apps/w-admin/src/app/app.module.ts
  apps/w-admin/src/app/app.routing.ts
  apps/w-admin/src/app/modules/home/home.module.ts
  apps/w-admin/src/app/modules/home/home.page.html
  apps/w-admin/src/app/modules/home/home.page.ts
  apps/w-admin/src/app/modules/home/home.routing.ts
  apps/w-admin/src/app/modules/home/home.service.ts
  apps/w-admin/src/app/modules/services/services.module.ts
  apps/w-admin/src/app/modules/services/services.page.html
  apps/w-admin/src/app/modules/services/services.page.ts
  apps/w-admin/src/app/modules/services/services.routing.ts
  apps/w-admin/src/app/modules/services/services.service.ts
  apps/w-admin/src/environments/environment.prod.ts
  apps/w-admin/src/environments/environment.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

ci(github): :wrench: add `issue` and `pull request` template
  .github/issue_template.md
  .github/pull_request_template.md
Due: none

refactor(libs): :coffin: remove unused `api-interfaces` library
  angular.json
  libs/api-interfaces/.babelrc
  libs/api-interfaces/.eslintrc.json
  libs/api-interfaces/README.md
  libs/api-interfaces/project.json
  libs/api-interfaces/src/index.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
  libs/api-interfaces/tsconfig.json
  libs/api-interfaces/tsconfig.lib.json
  tsconfig.base.json
Due: prettier --write, cspell -c cspell.json, eslint --fix

perf(frontend): :zap: improve apps preformance by setting `ChangeDetector` to `OnPush` Strategy
  .eslintrc.json
  .vscode/settings.json
  apps/m-admin/project.json
  apps/m-admin/src/app/app.component.ts
  apps/m-admin/src/app/modules/home/home.page.html
  apps/m-admin/src/app/modules/home/home.page.ts
  apps/m-admin/src/app/modules/services/services.page.html
  apps/m-admin/src/app/modules/services/services.page.ts
  apps/w-admin/project.json
  apps/w-admin/src/app/app.component.ts
  apps/w-admin/src/app/modules/home/home.page.html
  apps/w-admin/src/app/modules/home/home.page.ts
  apps/w-admin/src/app/modules/services/services.page.html
  apps/w-admin/src/app/modules/services/services.page.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

test(frontend): :white_check_mark: update e2e test
  apps/m-admin-e2e/src/integration/app.spec.ts
  apps/w-admin-e2e/src/integration/app.spec.ts
  apps/w-admin/src/app/modules/home/home.page.html
Due: prettier --write, cspell -c cspell.json, eslint --fix

chore: :see_no_evil: add sonar and scannerwork to gitignore
  .gitignore
  .lintstagedrc.json
Due: none

ci(github): :construction_worker: add sonarqube to code quality workflow
  .github/workflows/code-quality.yml
  cspell.json
  sonar-project.properties
Due: none

perf(b-api): :zap: improve backend generator uuid by using `randomUUID` from `node:crypto`
  apps/b-api/src/app/modules/services/services.service.ts
  apps/m-admin/src/environments/environment.ts
  apps/w-admin/src/environments/environment.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

style: :art: formatting and remove white-space
  apps/b-api/tsconfig.json
  libs/shared/enums/tsconfig.json
  libs/shared/interfaces/tsconfig.json
  libs/shared/utils/tsconfig.json
Due: none

feat(frontend): :wrench: add `apiUrlInterceptor` to append backend url from env to api url
  apps/m-admin/src/app/app.module.ts
  apps/m-admin/src/app/interceptors/api-url.interceptor.spec.ts
  apps/m-admin/src/app/interceptors/api-url.interceptor.ts
  apps/m-admin/src/environments/environment.prod.ts
  apps/m-admin/src/environments/environment.ts
  apps/w-admin/src/app/app.module.ts
  apps/w-admin/src/app/interceptors/api-url.interceptor.spec.ts
  apps/w-admin/src/app/interceptors/api-url.interceptor.ts
  apps/w-admin/src/environments/environment.prod.ts
  apps/w-admin/src/environments/environment.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

ci(semantic-release): :construction_worker: remove publishing workspace to npm
  .releaserc.json
Due: none

ci(github): :bug: update github workflows actions and rename files
  .github/workflows/commitlint.yml
  .github/workflows/release.yml
Due: none

feat(m-admin): :rocket: add ios `m-admin` application and sync it with production
  .lintstagedrc.json
  cspell.json
  ios/m-admin/.gitignore
  ios/m-admin/App/App.xcodeproj/project.pbxproj
  ios/m-admin/App/App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/m-admin/App/App.xcworkspace/contents.xcworkspacedata
  ios/m-admin/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/m-admin/App/App/AppDelegate.swift
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  ios/m-admin/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/m-admin/App/App/Assets.xcassets/Contents.json
  ios/m-admin/App/App/Assets.xcassets/Splash.imageset/Contents.json
  ios/m-admin/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  ios/m-admin/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  ios/m-admin/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  ios/m-admin/App/App/Base.lproj/LaunchScreen.storyboard
  ios/m-admin/App/App/Base.lproj/Main.storyboard
  ios/m-admin/App/App/Info.plist
  ios/m-admin/App/App/capacitor.config.json
  ios/m-admin/App/App/config.xml
  ios/m-admin/App/Podfile
Due: none

feat: :wrench: add staging environment to all apps
  apps/b-api/project.json
  apps/b-api/src/environments/environment.common.ts
  apps/b-api/src/environments/environment.staging.ts
  apps/b-api/src/environments/environment.ts
  apps/b-api/src/main.ts
  apps/m-admin/project.json
  apps/m-admin/src/environments/environment.common.ts
  apps/m-admin/src/environments/environment.prod.ts
  apps/m-admin/src/environments/environment.staging.ts
  apps/m-admin/src/environments/environment.ts
  apps/w-admin/project.json
  apps/w-admin/src/environments/environment.common.ts
  apps/w-admin/src/environments/environment.prod.ts
  apps/w-admin/src/environments/environment.staging.ts
  apps/w-admin/src/environments/environment.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

fix(frontend): :lipstick: fix dark mode background and text colors
  apps/m-admin/project.json
  apps/m-admin/proxy.conf.json
  apps/m-admin/src/app/modules/home/home.page.html
  apps/m-admin/src/app/modules/services/services.page.html
  apps/m-admin/src/styles.scss
  apps/w-admin/project.json
  apps/w-admin/proxy.conf.json
  apps/w-admin/src/app/app.component.html
  apps/w-admin/src/app/modules/services/services.page.html
Due: stylelint, prettier --write, cspell -c cspell.json

feat(frontend-libs-home): :sparkles: add new UI frontend home library
  angular.json
  libs/frontend/home/.eslintrc.json
  libs/frontend/home/README.md
  libs/frontend/home/jest.config.ts
  libs/frontend/home/project.json
  libs/frontend/home/src/index.ts
  libs/frontend/home/src/lib/frontend-home.module.ts
  libs/frontend/home/src/lib/home/home.component.html
  libs/frontend/home/src/lib/home/home.component.spec.ts
  libs/frontend/home/src/lib/home/home.component.ts
  libs/frontend/home/src/test-setup.ts
  libs/frontend/home/tsconfig.json
  libs/frontend/home/tsconfig.lib.json
  libs/frontend/home/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --write, cspell -c cspell.json, eslint --fix

build: :heavy_plus_sign: add `@capacitor/ios` package and set overrides in package.json file
  package-lock.json
  package.json
Due: none

feat(frontend): :dizzy: add angular animations to `home` and `services` components
  .storybook/main.js
  apps/m-admin/src/app/app.module.ts
  apps/w-admin/src/app/app.module.ts
  cspell.json
  libs/frontend/home/src/lib/home/home.component.html
  libs/frontend/home/src/lib/home/home.component.stories.ts
  libs/frontend/home/src/lib/home/home.component.ts
  libs/frontend/services/src/lib/services/services.component.html
  libs/frontend/services/src/lib/services/services.component.stories.ts
  libs/frontend/services/src/lib/services/services.component.ts
  package-lock.json
  package.json
Due: prettier --write, cspell -c cspell.json, eslint --fix

feat(sentry): :sparkles: work on adding sentry to the apps and add global environment
  .eslintrc.json
  .vscode/settings.json
  angular.json
  apps/b-api/src/environments/environment.common.ts
  apps/m-admin/src/environments/environment.common.ts
  apps/w-admin/src/app/app.module.ts
  apps/w-admin/src/environments/environment.common.ts
  apps/w-admin/src/main.ts
  libs/shared/constants/.babelrc
  libs/shared/constants/.eslintrc.json
  libs/shared/constants/README.md
  libs/shared/constants/jest.config.ts
  libs/shared/constants/project.json
  libs/shared/constants/src/index.ts
  libs/shared/constants/src/lib/common-workspace-env.ts
  libs/shared/constants/tsconfig.json
  libs/shared/constants/tsconfig.lib.json
  libs/shared/constants/tsconfig.spec.json
  libs/shared/interfaces/src/index.ts
  libs/shared/interfaces/src/lib/shared/workspace-version.interface.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/lib/sentry-init.utils.ts
  libs/shared/utils/src/lib/sentry-providers.utils.ts
  libs/shared/utils/src/lib/workspace-version.utils.spec.ts
  libs/shared/utils/src/lib/workspace-version.utils.ts
  package-lock.json
  tsconfig.base.json
Due: prettier --write, cspell -c cspell.json, eslint --fix

build(nx): :arrow_up: update nx dependencies in workspace
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

build(core): :arrow_up: update all npm package dependencies
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

build(jest): :pushpin: pin `jest` package to specific version to fix bug with testing
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

test(libs): :white_check_mark: update test and correct it
  libs/frontend/home/src/lib/home/home.component.spec.ts
  libs/frontend/home/src/lib/home/home.component.stories.ts
  libs/frontend/services/src/lib/services/services.component.spec.ts
  libs/frontend/services/src/lib/services/services.component.stories.ts
  libs/shared/interceptors/src/lib/api-url/api-url.interceptor.spec.ts
  libs/shared/utils/src/lib/workspace-version.utils.spec.ts
  package.json
Due: prettier --write, cspell -c cspell.json, eslint --fix

fix(sentry): :wrench: run sentry only in production mode
  apps/b-api/src/app/app.module.ts
  apps/b-api/src/main.ts
  apps/m-admin/src/app/app.module.ts
  apps/m-admin/src/main.ts
  apps/w-admin/src/app/app.module.ts
  apps/w-admin/src/main.ts
  libs/backend/sentry/src/lib/sentry-init.utils.ts
  libs/frontend/sentry/src/lib/utils/sentry-init.utils.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

ci(core): :green_heart: add & update ci/cd workflows actions and dockerize apps
  .dockerignore
  .github/workflows/code-quality.yml
  .github/workflows/docker.yml
  .github/workflows/sonar.yml
  .sentryclirc
  Dockerfile
  docker-compose.production.yml
  docker-compose.staging.yml
  docker.ps1
  nginx.conf
  package-lock.json
  package.json
  sonar-project.properties
Due: none

fix: :rotating_light: fix tests warnings and sonar lint warnings
  apps/frontend-home-e2e/.eslintrc.json
  apps/frontend-services-e2e/.eslintrc.json
  apps/m-admin/src/app/modules/services/services.service.ts
  sonar-project.properties
Due: prettier --write, cspell -c cspell.json, eslint --fix

ci(github): :construction_worker: update cd for staging release
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
Due: none

ci(github): :construction_worker: update cd for staging release [skip ci]
  .github/workflows/staging.yml
Due: none

fix(b-api): :truck: rename end point from `/home/env` to `/home`
  apps/b-api/src/app/modules/home/home.controller.ts
Due: prettier --write, cspell -c cspell.json, eslint --fix

ci(nx): :zap: connect workspace with nx cloud workspace
  nx.json
  package-lock.json
  package.json
Due: none

fix(github): :bug: fix github workflow action name
  .github/workflows/staging.yml
Due: none

fix(semantic-release): :bug: set branch name in semantic release config file to `staging`
  .releaserc.json
Due: none

Notes added by 'git notes add'
  defdb0ed8ca00d935d7ac781d2c1fddf50295af8
Due: none

docs(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

ci(sentry): :green_heart: add npm to semantic release and ignore empty commits for sentry
  .github/workflows/staging.yml
  .releaserc.json
Due: none
