Repository nitro-system/nitro: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, npx cspell -c ./cspell.json, eslint --fix, npx sort-package-json

docs(release): 1.1.45 [skip ci]
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  9bb7f07651a9bc8a597d4ff121a8e897a943a560
Due: none

fix(github): 💚 fix ci commands and docker build
  .github/workflows/release.yml
Due: none

docs(release): 1.1.46 [skip ci]
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  25cfa6b34abe4987cc20dde5608ef9d3ddd847b9
Due: none

feat(ci): ➕ add new package `sort-package-json` to sort package.json file
  .lintstagedrc.json
  .vscode/extensions.json
  deploy.sh
  package-lock.json
  package.json
Due: npx sort-package-json

chore(vscode): 🔧 remove unused extension from vscode settings
  .vscode/extensions.json
Due: none

docs(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  27a796beeb8572d0889f7b7b854b76b94bfd3b46
Due: none

feat(ci): ➕ setup config to publish to master with ci/cd
  .releaserc.json
Due: none

docs(release): 1.3.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  11771b96ebff8fe830c7b4819a29bdc8df29098e
Due: none

feat(ci): ➕ setup config to publish to master with ci/cd
  .github/workflows/release.yml
Due: none

docs(release): 1.4.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  bad509a7aecaa8fcff03fd60327abf549dd65b13
Due: none

build(docker): 🚚 add nginx reverse proxy server
  Dockerfile
  build.sh
  docker-compose.yml
  nginx.reverse-proxy.conf
Due: none

build(docker): 🚑️ fix build docker images b removing useless tag in shell script
  build.sh
Due: none

build(docker): 🚑️ fix build docker reverse proxy image
  Dockerfile
  nginx.reverse-proxy.conf
Due: none

build(docker): 🚑️ fix build docker reverse proxy image
  Dockerfile
  build.sh
  deploy.sh
  docker-compose.yml
  nginx.reverse-proxy.conf
Due: none

fix(docker): 🚑️ fix build docker reverse proxy image
  Dockerfile
  cspell.json
  deploy.sh
  docker-compose.yml
  nginx.reverse-proxy.conf
  server/nginx/frontend/conf/default.conf
  server/nginx/reverse-proxy/conf/default.conf
Due: none

docs(release): 1.4.1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  1cd6d6d766b94f18ea5f2abc565ffda854690dd5
Due: none

fix(docker): 🚑️ fix build docker reverse proxy image
  docker-compose.yml
Due: none

Notes added by 'git notes add'
  d20da73efacc381b9e72ae7d5f28cfde64bbfb3f
Due: none

docs(release): 1.4.2
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix(docker): 🚑️ fix build docker reverse proxy image
  Dockerfile
  docker-compose.yml
Due: none

docs(release): 1.4.3
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  b5e2e50e0b67b31825244674fa14138ce131295d
Due: none

docs(release): 1.4.4
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  42d0c24e12a2027c61efe0ad6f34fbf364180737
Due: none

fix(docker): 🚑️ fix build docker reverse proxy image
  Dockerfile
  cspell.json
  nginx.frontend.conf
  nginx.reverse-proxy.conf
Due: none

docs(release): 1.4.5
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  1f83db6de73221f00a6cfab4f5612b7be31a9913
Due: none

fix(docker): 🚑️ fix build docker reverse proxy image
  nginx.reverse-proxy.conf
Due: none

docs(release): 1.4.6
  CHANGELOG.md
  package.json
Due: npx sort-package-json

Notes added by 'git notes add'
  d06339ea7a731c5a8b8e14a74dbd92eff06e97a6
Due: none

fix(frontend): 🔧 update common workspace `backendUrlApi` to the new sub domain
  libs/shared/constants/src/lib/common-workspace-env/common-workspace-env.prod.ts
  libs/shared/constants/src/lib/common-workspace-env/common-workspace-env.staging.ts
Due: prettier --write, npx cspell -c ./cspell.json, eslint --fix

Path conditions:
  stylelint: any of: *.{css,less,sass,scss}
  prettier --write: (any of: *.{css,less,sass,scss}) or (any of: *.{ts,js})
  npx cspell -c ./cspell.json: (any of: *.{css,less,sass,scss}) or (any of: *.{ts,js})
  eslint --fix: any of: *.{ts,js}
  npx sort-package-json: any of: package.json
